[user]
    name = Jane Doe
    email = jane.doe@online-rewards.com

[github]
    user = janedoe

[credential]
    helper = osxkeychain

[core]
    excludesfile = $HOME/.gitignore_global
    pager = less -FRSX
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    autocrlf = false
#    symlinks = false

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
    pager = true

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[diff]
    tool = vimdiff
    guitool = gvimdiff
[difftool]
    prompt = false

[merge]
    tool = vimdiff
    prompt = false
[mergetool]
    keepBackup = false
    prompt = false

[alias]
    br = branch
    cat = -p cat-file -p
    ci = commit
    cl = config -l
    co = checkout
    cp = cherry-pick
    di = diff
    dis = diff --stat
    hard = reset --hard
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    last  = cat-file commit HEAD
    logd = log -p
    logo = log --oneline --graph --decorate --all
    logp = log --graph --pretty=oneline --abbrev-commit --date=relative
    logt = log --pretty=format:'%h : %s' --topo-order --graph
    ls = ls-files
    re = remote
    rl = reflog
    rmc = rm --cached
    rmcf = rm -f --cached
    rnc = revert --no-commit
    sb = show-branch
    shown = show --name-only
    st = status
    staged = diff --cached
    stu = status --untracked-files=no
    unstage = reset HEAD
